@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #0b0f1a;
    color: #ffffff;
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #050814;
}

nav h1{
    color: #d4af37;
    font-family: 'Playfair Display', serif;
}

nav a{
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover{
    color: #d4af37;
}

/* Hero */
.hero{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

.hero-text{
    max-width: 55%;
}

.hero h2{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
}

.hero span{
    color: #d4af37;
}

.hero p{
    margin-top: 15px;
    color: #ccc;
    line-height: 1.6;
}

.hero img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 5px solid #d4af37;
    object-fit: cover;
}

/* Button */
.btn{
    display: inline-block;
    margin-top: 25px;
    padding: 12px 35px;
    background: #d4af37;
    color: #000;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}

/* Sections */
section{
    padding: 80px 60px;
}

section h2{
    color: #d4af37;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
}

.card{
    background: #11162a;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 25px;
}

/* Grid */
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}

/* Footer */
footer{
    text-align: center;
    padding: 20px;
    background: #050814;
    color: #aaa;
}
